@import url(./fonts/Bright/cmun-bright.css);
@import url(./fonts/Bright-Semibold/cmun-bright-semibold.css);
@import url(./fonts/Classical-Serif-Italic/cmun-classical-serif-italic.css);
@import url(./fonts/Concrete/cmun-concrete.css);
@import url(./fonts/Sans/cmun-sans.css);
@import url(./fonts/Sans-Demi-Condensed/cmun-sans-demicondensed.css);
@import url(./fonts/Serif/cmun-serif.css);
@import url(./fonts/Serif-Slanted/cmun-serif-slanted.css);
@import url(./fonts/Typewriter/cmun-typewriter.css);
@import url(./fonts/Typewriter-Light/cmun-typewriter-light.css);
@import url(./fonts/Typewriter-Variable/cmun-typewriter-variable.css);
@import url(./fonts/Upright-Italic/cmun-upright-italic.css);